p {
color: SlateBlue;
text-align: left;
padding: 0 10px 0 10px;
text-indent: 15px;
}
ul{
 color: SlateBlue;
 text-align: left;}
body{
  font-family: "Times New Roman", sans-serif;
  color: #333333;
}

h1 {
background-image: url(sobre-background.jpg);

 text-align: center;
 color: SlateBlue;
 padding: 10px;
}
h2 {
 border-bottom: 2px solid #333333;
 margin-top: 30px;

}
figure {
 background-color: #F2EDED;
 border: 4px groove #ccc;
 text-align: center;
 padding: 15px 15px 15px 15px;
 margin: 30px;
}
figcaption {
 font-style: italic;
 margin-top: 10px;
}
#jamesnaismith {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    position: relative;
}

#jordan {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    overflow: hidden;
    position: relative;
}
#rodape {
color: #777;
margin: 30px 0;
padding: 1000px 0;
text-align: center;
}
#rodape img {
margin-right: 30px;
vertical-align: middle;
width: auto;
text-align: right;
}

#kobe
{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    float: right;
    margin: 0 0 5px 5px;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

#james {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    float: right;
    margin: 0 0 5px 5px;
    border-radius: 50%;
    width: 350px;
    height: 350px;
    overflow: hidden;
    position: relative;
}